/* Messages */
.message {
	display:block;
	background-repeat:no-repeat;
	background-position:4px center;
	padding-left:40px;
	padding-top:10px;
	padding-right:10px;
	padding-bottom:10px;
	text-decoration:none;
}
.m_info {
	font-size:0.8em;
	font-style:italic;
	padding-left:25px;
	margin:0px;
}
.p_info code {
	font-size:1.1em;
}
.m_error { background-image:url('../media/farm/32x32/exclamation.png'); }
.m_warning { background-image:url('../media/farm/32x32/error.png'); }
.m_help { background-image:url('../media/farm/32x32/help.png'); }
.m_info { background-image:url('../media/farm/16x16/information.png'); }      